body{
	height: 100vh;
	background-color: lightgrey;
	margin: 0;
	display: grid;
}

#index{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 8% 12% auto 10%;
	grid-template-areas:
		"header header header header header"
		"nav nav nav nav nav"
		"main main main aside aside"
		"footer footer footer footer footer";
}

header{
	grid-area: header;
	background-color: #007FFF;
	text-align: center;
}

nav{
	grid-area: nav;
	background-color: #91C8FF;
	border: solid;
}

ul{
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 0;
}

ul li{
	display: inline-block;
    vertical-align: top;
	border: 2px solid black;
}

ul li a{
	text-decoration: none;
	font-size: 20pt;
	color: white;
	align-content: center;
	line-height: 4;
}

ul li a:hover{
	background-color: black;
}

main{
	grid-area: main;
	background-color: #3E869B;
}

.bild1{
	width: 400px;
	margin-left: 380px;
	margin-top: 35px;
}

section{
	grid-area: aside;
	background-color: #56B4CF;
	font-size: 15pt;
	text-align: center;
}

#sida2{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 8% 12% auto 10%;
	grid-template-areas:
		"header header header header header"
		"nav nav nav nav nav"
		"aside aside main main main"
		"footer footer footer footer footer";
}

.bild2{
	width: 600px;
	margin-left: 280px;
	margin-top: 90px;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 200px;
	margin-top: 200px;
}

th{
	background-color: #f1f4ff;
	text-decoration: underline;
}

td{
	width: 350px;
	height: 70px;
}

tr:nth-child(even){
	background-color: #C0C0C0;
}

tr:nth-child(odd){
	background-color: #f1f4ff;
}

tr:hover td{
	background-image: linear-gradient(to right, #30D5C8, #c5ae91, #30D5C8)
}

a{
	text-decoration: none;
	color: #000000;
}

footer{
	grid-area: footer;
	text-align: center;
	margin-top: 40px;
}
	

