body{
	height: 100vh;
	background-color: lightgrey;
	margin: 0;
	display: grid;
}

#index{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 8% 12% auto 10%;
	grid-template-areas:
		"header header header header header"
		"nav nav nav nav nav"
		"main main main aside aside"
		"footer footer footer footer footer";
}

header{
	grid-area: header;
	background-color: #007FFF;
	text-align: center;
}

nav{
	grid-area: nav;
	background-color: #91C8FF;
	border: solid;
}

ul{
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

ul li{
	display: inline-block;
    vertical-align: top;
}

ul li a{
	text-decoration: none;
	font-size: 20pt;
	color: white;
	align-content: center;
	line-height: 4;
}

ul li a:hover{
	background-color: black;
}

main{
	grid-area: main;
	background-color: #3E869B;
}

main img{
	grid-column-start: 2;
	line-height: 5;
	width: 400px;
	margin-left: 380px;
	margin-top: 35px;
}

section{
	grid-area: aside;
	background-color: #56B4CF;
	font-size: 15pt;
	text-align: center;
}

footer{
	grid-area: footer;
	background-color: lightblue;
}